


.ms-bg-darkgrey{
    background-color: #2c3e50;
}
.ms-bg-green{
    background-color: #1abc9c;
}
.ms-color-green{
    color: #1abc9c;
}
.ms-bg-lightgrey{
    background-color: #3a546d;
}
.ms-color-lighdark{
    color: #333333;
}
.ms-color-darkgrey{
    color: #2c3e50;
}


.nav-item a:hover{
    color: #1abc9c;
}


.ms-overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color:rgba(19, 223, 145, 0.4);
    display: none;
  }
  
  
  .ms-overlay>i{
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      font-size: 70px;
      color: white;

  }

.ms-card:hover .ms-overlay{
    display: block;
    cursor: pointer;
}



/* header  */
 ul{
    list-style: none;
   
}

.ms-bt-green,
.ms-bt-green:hover,
.ms-bt-green:active{
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
}

.ms-star i{
    font-size: 35px;

}

.ms-line{
    width: 100px;
    border-radius: 20px;
    height: 3px;
}


.ms-bg-green{
    background-color: #1abc9c;
}




/* // X-Small devices (portrait phones, less than 576px)  */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }